/* GENERAL */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f6fa;
}

/* HERO */
.hero {
  height: 70vh;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-btn {
  padding: 12px 28px;
  background: #ffd369;
  color: #333;
  font-size: 18px;
  border-radius: 6px;
  text-decoration: none;
}

/* SECTION HEADINGS */
section h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
}

/* GRID LAYOUT */
.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 30px;
}

/* CARDS */
.card {
  background: white;
  padding: 22px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  transition: 0.35s ease;
  border: 1px solid rgba(0,0,0,0.05);
  cursor: pointer;

  /* New Effect */
  transform: translateY(0px) scale(1);
}


.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.card h3 {
  margin-bottom: 10px;
}

.premium-card {
  background: #ffeaa7;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #2d3436;
  color: white;
  margin-top: 40px;
}
